{%- block scripts %}
<script src="{{ url_for( 'app_admin.static' , filename='register.js')  }}" type="module" defer></script>
{% endblock scripts -%}

{% extends "head.html" %}

{%- block style %}
<link rel="stylesheet" href="{{ url_for( 'app_admin.static' , filename='user-styles.css')}}">
{% endblock style -%}

{% block register -%}
<div class="container authentication--container">
  <form id="register-form" class="authentication--form" data-route="{{ url_for('app_admin.register') }}">

    <h1 class="authentication--form__header">Set yourself in</h1>

    {{ form.csrf_token }}

    <div class="input-fields">
      <div class="input-fields__item">
        <i class="fa fa-at"></i>
        {{ form.register_email(class="email", placeholder="Email") }}
      </div>

      <div class="input-fields__item">
        <i class="fa fa-user"></i>
        {{ form.register_username(class="username", placeholder="Username") }}
      </div>

      <div class="input-fields__item">
        <i class="fa fa-key"></i>
        {{ form.register_key(placeholder="Admin Key") }}
      </div>

      <div class="input-fields__item">
        <i class="fa fa-lock"></i>
        {{ form.register_password(placeholder="Password") }}
        <div class="icon-container" id="password-icon-container">
          <i id="eye" class="eye fa-regular fa-eye hidden"></i>
          <i id="eye-slash" class="eye-slash fa-regular fa-eye-slash"></i>
        </div>
      </div>
    </div>

    <div>
      Register
      <button class="icon-button">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>

    <a href="{{ url_for('app_admin.login') }}">
      Already Have An Account? Login?
    </a>
  </form>
</div>
{%- endblock register %}